AiEngineer/AcneDataset/
AiEngineer/AcneDataset.zip
AiEngineer/saved_models/custom_cnn_best.keras
AiEngineer/saved_models/efficientnetb0_best.keras
AiEngineer/saved_models/efficientnetb0_finetuned_best.keras
AiEngineer/saved_models/resnet50_best.keras
AiEngineer/saved_models/resnet50_finetuned_best.keras
__pycache__/
inference/__pycache__/

FullstackDev/frontend/node_modules/
FullstackDev/frontend/dist/
FullstackDev/frontend/.env
FullstackDev/frontend/dist-ssr/
FullstackDev/frontend/*.local

.vscode/
.DS_Store
*.log
