AiEngineer/AcneDataset/
AiEngineer/AcneDataset.zip
AiEngineer/saved_models/*.keras
__pycache__/
inference/__pycache__/

FullstackDev/frontend/node_modules/
FullstackDev/frontend/dist/
FullstackDev/frontend/.env
FullstackDev/frontend/dist-ssr/
FullstackDev/frontend/*.local

.vscode/
.DS_Store
*.log
