AiEngineer/AcneDataset/
AiEngineer/AcneDataset.zip
AiEngineer/saved_models/*.keras
__pycache__/
inference/__pycache__/

node_modules/
dist/
.env
dist-ssr/
FullstackDev/frontend/*.local
build/
.env
.env.local
.env.*.local

.vscode/
.DS_Store
*.log
